nltk
numpy
pandas
pt-core-news-md @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_md-3.3.0/pt_core_news_md-3.3.0-py3-none-any.whl
sklearn
scikit-learn
spacy
tensorboard
tensorflow
tflearn
wikipedia